<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="../css/element-ui.css">

</head>
<body>
<div id="app">
    <el-table
            v-loading="loading"
            :data="chrome_history_list"
            style="width: 100%">
        <el-table-column
                prop="id"
                label="id">
        </el-table-column>
        <el-table-column
                prop="last_visit_time"
                label="日期">
        </el-table-column>
        <el-table-column
                prop="url"
                label="地址">
        </el-table-column>
        <el-table-column
                prop="title"
                label="标题">
        </el-table-column>
        <el-table-column
                prop="visit_count"
                label="展示次数">
        </el-table-column>
    </el-table>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../js/element_ui.js"></script>
<script src="../js/common.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: function() {
            this.refresh()
            return {
                chrome_history_list:this.chrome_history_list,
                loading:false
            }
        },
        methods:{
            refresh(){
                let data = ipcRenderer.sendSync(RPC.web.chrome_history_list)
                this.chrome_history_list = data;
            }
        }
    })
</script>
</html>