<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/element-ui.css">
    <style>
        .el-upload-dragger{
            width: 260px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-upload
            class="content"
            drag
            action
            :auto-upload=false
            :on-change="bef_upload"
            tip="123"
            multiple>
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">将文件拖到此处压缩，或<em>点击上传</em></div>
    </el-upload>
</div>

<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../js/element_ui.js"></script>
<script src="../js/common.js"></script>
</body>
<script>
var app = new Vue({
    el: '#app',
    data: function() {
        return {

        }
    },
    methods:{
        bef_upload(a,b){
            let filename = a.name
            let filepath = a.raw.path;
            console.log(filename,filepath)
            let code = ipcRenderer.sendSync(RPC.zip_image,{
                path:filepath
            })
            this.$message('压缩成功');
        },
    }
})

</script>
</html>