<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nkpush</title>
    <link rel="stylesheet" href="../css/element-ui.css">
</head>
<body>
<div id="app">
    <el-button @click="refresh">刷新</el-button>
    <el-table
            v-loading="loading"
            :data="nkpush"
            style="width: 100%">
        <el-table-column
                prop="id"
                label="id"
                width="180">
        </el-table-column>
        <el-table-column
                prop="title"
                label="title"
                width="180">
        </el-table-column>
        <el-table-column
                prop="content"
                label="content"
                height="100">
        </el-table-column>
        <el-table-column
                prop="tag"
                label="tag"
                width="180">
        </el-table-column>
    </el-table>

</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../js/element_ui.js"></script>
<script src="../js/vue-http.js"></script>
<script src="../js/common.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: function() {
            setInterval(function () {
                this.refresh()
            }.bind(this),1000*10);
            return {
                nkpush:[],
                loading:false
            }
        },
        methods:{
            refresh(){
                this.loading = true;
                this.$http.get('http://push.nekom.cc/list').then( function (response){
                    this.nkpush = response.data.data
                    this.loading = false;
                }.bind(this))
            }
        }
    })

</script>

</html>